
.ox-switch-outer {
  display: inline-block;
  width: 60px;
  height: 30px;
  background-color: var(--theme-bg-color-default);
  border-radius: 15px;

  position: relative;
  cursor: pointer;
}

.ox-switch-inner {
  width: 26px;
  height: 26px;
  background-color: var(--color-white);
  border-radius: 50%;

  position: absolute;
  left: 2px;
  top: 50%;

  transform: translateY(-50%);
  animation: moveLeft 3.5s ease-in-out;
}

:host(.ox-switch-actived) .ox-switch-outer {
  background-color: var(--theme-bg-color-primary);
}

:host(.ox-switch-actived) .ox-switch-inner {
  left: 30px;
  animation: moveRight 3.5s ease-in-out;
}

:host([disabled]) .ox-switch-outer {
  opacity: .5;
  cursor: not-allowed;
}

@keyframes moveLeft {
  0% {
    left: 30rpx;
  }
  100% {
    left: 2rpx;
  }
}

@keyframes moveRight {
  0% {
    left: 2rpx;
  }
  100% {
    left: 30rpx;
  }
}