html {
  /* 主题样式 */
  --theme-color-primary: #d59e5b;
  --theme-color-primary-active: #deb074;

  --theme-color-default: #fff;
  --theme-color-default-border: #d0d1d3;
  --theme-font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --theme-font-size: 16px;
  --theme-font-size-large: 20px;
  --theme-font-size-small: 14px;
  --theme-color-success: #50c984;
  --theme-color-success-active: #72d499;
  --theme-color-warning: #fdb668;
  --theme-color-warning-active: #fdc384;
  --theme-color-error: #c03a3b;
  --theme-color-error-active: #ca615e;
  --theme-color-radio-disabled: #f6f6f6;
  --theme-color-radio-active-disabled: #e7d2a3;
  --theme-color-checkbox-disabled: #f6f6f6;
  --theme-bg-color-primary: #D99F53;
  --theme-bg-color-default: #C2C2C2;

  --theme-link-color: #333d56;

  --theme-border-radius: 5px;

  --modal-bg-color: #fff;
  --mask-bg-color: rgba(0, 0, 0, 0.8);

  /* 通用样式 */
  --color-black: #333;
  --color-white: #fff;
  --color-grey: #666;

  

  font-family: var(--theme-font-family);
  font-size: var(--theme-font-size);
  color: var(--color-black);

}

.page {
  max-width: 1000px;
  margin: 0 auto;
}

.page-demo {
  width: 600px;
}

.page-title {
  margin-bottom: 50px;
}

.page .zone {
  margin-bottom: 30px;
}