  
  :host(.ox-label) {
    background:rgba(217,159,83,1);
    border-radius:4px;
    font-size:13px; 
    color:rgba(255,255,255,1);
    line-height:18px;
    padding: 4px 12px;
    cursor: pointer;
    position: relative;
  }
  .delete {
    position: absolute;
    right:7px;
    top:7px;  
    height:12px;
    width:12px;
    background:rgba(155,155,155,1);
    border-radius: 50%;
    color: #fff;
    text-align: center;  
    font-size: 10px;
    line-height: 10px; 
    display: none;
  } 
  :host(.ox-label-delete) {
     padding-right: 28px;
     color: #333333;
     background: #E9E9E9;
     position: relative;
  }
  :host(.ox-label-delete) .delete {
      display: block; 
 }
  
  