:host{
  cursor: default;
}
.ox-checkbox-outer {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  text-align: center;
  border: 1px solid var(--theme-color-default-border);
}

:host(.ox-checkbox-actived) .ox-checkbox-outer {
  background-color: var(--theme-color-primary);
  border-color: var(--theme-color-primary);
}
.ox-checkbox-label{
  display: inline-block;
}
.ox-checkbox-inner {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: 1px;
}
:host([disabled]){
  cursor: not-allowed;
}
:host([disabled]) .ox-checkbox-outer{
  background-color: var(--theme-color-radio-disabled);
}
:host([disabled]) .ox-checkbox-inner {
  visibility: hidden;
}
:host(.ox-checkbox-actived[disabled]) .ox-checkbox-outer{
  background-color: var(--theme-color-radio-active-disabled);
  border-color: var(--theme-color-radio-active-disabled);
}
:host(.ox-checkbox-actived[disabled]) .ox-checkbox-inner {
  visibility: visible;
}