.ox-tab-options{
  /*width: 100%;*/
  /*position: relative;*/
  /*bottom: 5px;*/
  border-bottom: 5px solid #cccccc;
  line-height: 30px;
  /*padding: 10px;*/
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  /*position: relative;*/
}
.ox-tab-options:after{
  display: block;
  content: "";
  zoom: 1;
  clear: both;
}
.ox-option{
  float: left;
  /*margin: 0 20px;*/
  padding: 5px 40px;
  position: relative;
  box-sizing: border-box;
  top: 5px;
  border: 1px solid #D99F53;
  cursor: pointer;
  background: #fff;
}
.ox-option-active{
  /*border-bottom: 5px solid blue;*/
  background: #D99F53;
  color: #fff;
}
.ox-tab-contents{
  /*border: 1px solid blue;*/
  /*padding: 30px;*/
  margin-top: 15px;
}
.ox-content{
  display: none;
}
.ox-content-active{
  display: block;
}