:host {
    display: none;
}

:host([visible]) {
    display: block;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    overflow: hidden;
    font-size: 0;
    height: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.ox-modal-outer {
    z-index: 999;
}

.ox-modal-inner {
    width: 320px;
    /*height: 315px;*/
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0 15px 36px;
    box-shadow: 0 0 10px #aaa;
}

.ox-modal-mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
}

.title {
    font-size: 20px;
    font-weight: 600;
}

::slotted(.content) {
    font-size: 18px;
    margin-top: 20px;
    color: #a1a1a1;
}

.ox-modal-btn-wrap {
    width: 226px;
    margin: 30px auto 0;
    color: var(--color-black);
}

.ox-modal-cancel {
    width: 100px;
    height: 36px;
    line-height: 36px;
    border: .5px solid #ccc;
    cursor: pointer;
}

.ox-modal-ok {
    width: 100px;
    height: 36px;
    line-height: 36px;
    background-color: var(--theme-color-success);
    color: var(--color-white);
    cursor: pointer;
}

::slotted(.icon-area) {
    text-align: center;
    font-size: 64px;
    color: var(--theme-color-success);
    margin: 30px 0 0;
}

.ox-modal-outer-warning ::slotted(.icon-area) {
    color: var(--theme-color-warning);
}

.ox-modal-outer-error ::slotted(.icon-area) {
    color: var(--theme-color-error);
}

.animate-fade {
    animation: animate-fade .5s ease-in-out;
}

.animate-left {
    animation: animate-left .5s ease-in-out;
}

.animate-right {
    animation: animate-right .5s ease-in-out;
}

.animate-top {
    animation: animate-top .5s ease-in-out;
}

.animate-bottom {
    animation: animate-bottom .5s ease-in-out;
}

@-webkit-keyframes animate-fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-moz-keyframes animate-fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes animate-fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-webkit-keyframes animate-left {
    0% {
        left: -1000px;
    }

    100% {
        left: 50%;
    }
}
@-moz-keyframes animate-left {
    0% {
        left: -1000px;
    }

    100% {
        left: 50%;
    }
}
@keyframes animate-left {
    0% {
        left: -1000px;
    }

    100% {
        left: 50%;
    }
}
@-webkit-keyframes animate-right {
    0% {
        left: 100%;
    }

    100% {
        left: 50%;
    }
}
@-moz-keyframes animate-right {
    0% {
        left: 100%;
    }

    100% {
        left: 50%;
    }
}
@keyframes animate-right {
    0% {
        left: 100%;
    }

    100% {
        left: 50%;
    }
}

@-webkit-keyframes animate-top {
    0% {
        top: -1000px;
    }

    100% {
        top: 50%;
    }
}
@-moz-keyframes animate-top {
    0% {
        top: -1000px;
    }

    100% {
        top: 50%;
    }
}
@keyframes animate-top {
    0% {
        top: -1000px;
    }

    100% {
        top: 50%;
    }
}

@-webkit-keyframes animate-bottom {
    0% {
        top: 100%;
    }

    100% {
        top: 50%;
    }
}
@-moz-keyframes animate-bottom {
    0% {
        top: 100%;
    }

    100% {
        top: 50%;
    }
}
@keyframes animate-bottom {
    0% {
        top: 100%;
    }

    100% {
        top: 50%;
    }
}