:host(.ox-button) {
  display: inline-block;
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 2px;
  border: 1px solid transparent;
}

:host(.ox-button-default) {
  color: var(--color-black);
  background-color: var(--theme-default-color);
  border-color: var(--theme-default-color-border);
}

:host(.ox-button-default:active) {
  color: var(--theme-primary-color);
  border-color: var(--theme-primary-color);
}

:host(.ox-button-primary) {
  color: var(--color-white);
  background-color: var(--theme-primary-color);
  border-color: var(--theme-primary-color);
}

:host(.ox-button-primary:active) {
  background-color: var(--theme-primary-color-active);
}

:host(.ox-button-text) {
  color: var(--theme-primary-color);
}

:host(.ox-button-text:active) {
  color: var(--theme-primary-color-active);
}

:host(.ox-button-success) {
  color: var(--color-white);
  background-color: var(--color-success);
  border-color: var(--color-success);
}

:host(.ox-button-success:active) {
  background-color: var(--color-success-active);
}

:host(.ox-button-warning) {
  color: var(--color-white);
  background-color: var(--color-warning);
  border-color: var(--color-warning);
}

:host(.ox-button-warning:active) {
  background-color: var(--color-warning-active);
}

:host(.ox-button-error) {
  color: var(--color-white);
  background-color: var(--color-error);
  border-color: var(--color-error);
}

:host(.ox-button-error:active) {
  background-color: var(--color-error-active);
}

:host(.ox-button-success-hollow) {
  color: var(--color-success);
  border-color: var(--color-success);
}

:host(.ox-button-success-hollow:active) {
  color: var(--color-success-active);
  border-color: var(--color-success-active);
}

:host(.ox-button-warning-hollow) {
  color: var(--color-warning);
  border-color: var(--color-warning);
}

:host(.ox-button-warning-hollow:active) {
  color: var(--color-warning-active);
  border-color: var(--color-warning-active);
}

:host(.ox-button-error-hollow) {
  color: var(--color-error);
  border-color: var(--color-error);
}

:host(.ox-button-error-hollow:active) {
  color: var(--color-error-active);
  border-color: var(--color-error-active);
}