:host {
  display: none;
}

:host([visible]) {
  display: block;
}

.ox-modal-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--mask-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ox-modal-inner {
  padding: 30px 30px;
  min-width: 270px;
  background-color: var(--modal-bg-color);
  border-radius: var(--theme-border-radius);
}

::slotted(.title) {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: var(--theme-font-size-large);
}

::slotted(.content) {
  margin-bottom: 30px;
  font-size: var(--theme-font-size-small);
  color: var(--color-grey);
}

.actions {
  text-align: right;
}

.actions .btn {
  cursor: pointer;
  margin-left: 10px;
}

.btn-ok {
  color: var(--theme-color-success);
}

::slotted(.icon-area) {
  padding: 10px 0;
  text-align: center;
  margin-bottom: 10px;
  color: var(--theme-color-success);
  font-size: 64px !important;
}

/* Modal with status' icons */
.ox-modal-inner-success,
.ox-modal-inner-warning,
.ox-modal-inner-error {
  text-align: center;
}

.ox-modal-inner-success .actions,
.ox-modal-inner-warning .actions,
.ox-modal-inner-error .actions {
  text-align: center;
}

.ox-modal-inner-success .btn,
.ox-modal-inner-warning .btn,
.ox-modal-inner-error .btn {
  
}