:host{
  cursor: default;
}
.clearfix:after{
  content: "";
  display: block;
  clear: both;
  overflow: hidden;
  font-size: 0;
  height: 0;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.ox-modal-inner {
  width: 320px;
  /*height: 315px;*/
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  background-color: #fff;
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding:0 15px 36px;
  box-shadow: 0 0 10px #aaa;
}
.ox-modal-mask{
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
}
.ox-modal-icon{
  width: 70px;
  height: 70px;
  background-color: var(--theme-color-success);
  display: block;
  border-radius: 50%;
  line-height: 70px;
  text-align: center;
  font-size: 50px;
  color: #fff;
  font-weight: 400;
  margin:36px auto 40px;
}
.ox-modal-icon.success{
  background-color: var(--theme-color-success);
}
.ox-modal-icon.warning{
  background-color: var(--theme-color-warning);
}
.ox-modal-icon.error{
  background-color: var(--theme-color-error);
}
.title{
  font-size: 20px;
  font-weight: 600;
}
.content{
  font-size: 18px;
  margin-top: 20px;
  color: #a1a1a1;
}
.ox-modal-btn-wrap{
  width: 226px;
  margin:30px auto 0;
  color: var(--color-black);
}
.ox-modal-cancel{
  width: 100px;
  height: 36px;
  line-height: 36px;
  border:.5px solid #ccc;
  cursor: pointer;
}
.ox-modal-ok{
  width: 100px;
  height: 36px;
  line-height: 36px;
  background-color: var(--theme-color-success);
  color: var(--color-white);
  cursor: pointer;
}
.hide{
  display: none;
}
.show{
  display: block;
}



:host(.ox-radio-actived) .ox-radio-outer {
  background-color: var(--theme-primary-color);
  border-color: var(--theme-primary-color);
}
.ox-radio-label{
  display: inline-block;
}
.ox-radio-inner {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--color-white);
  margin-top: 5px;
}
:host([disabled]){
  cursor: not-allowed;
}
:host([disabled]) .ox-radio-outer{
  background-color: var(--theme-color-radio-disabled);
}
:host([disabled]) .ox-radio-inner {
  visibility: hidden;
}
:host(.ox-radio-actived[disabled]) .ox-radio-outer{
  background-color: var(--theme-color-radio-active-disabled);
  border-color: var(--theme-color-radio-active-disabled);
}
:host(.ox-radio-actived[disabled]) .ox-radio-inner {
  visibility: visible;
}